<header>
  <div class="--flex-center">
    <img src="../../assets/images/beer-15-64-260664.png" alt="icono de tu agenda cervecera"
      title="Icono de nuestra agenda cervecera, una cerveza en blanco y negro de perfil">
  </div>
  <h1 class="--flex-center --text-centrator">Bienvenido a tu agenda Cervecera !!</h1>
  <nav class="--flex-center header-nav__links">
    <a routerLink="contactos">Tus Contactos</a>
    <a routerLink="alta">Agregar Nuevo Contacto</a>
    <!--  <a routerLink="listaDislikes">Lista de Dislikes</a> -->
  </nav>
</header>
